# Pandas Tasks

In the task below, you will practice what you have learnt in the pandas tutorial.

In [31]:
import pandas as pd
import numpy as np
import random

## Task 1

#### Question 1. Identify two ways of creating a pandas DataFrame and create a dataframe with ten columns and twenty rows for each way

> Dataframe can be created from a numpy array

In [14]:
values = np.arange(10, 2001, step=10).reshape(20, 10)
headers = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [18]:
df_one = pd.DataFrame(values, columns=headers)
df_one

       A     B     C     D     E     F     G     H     I     J
0     10    20    30    40    50    60    70    80    90   100
1    110   120   130   140   150   160   170   180   190   200
2    210   220   230   240   250   260   270   280   290   300
3    310   320   330   340   350   360   370   380   390   400
4    410   420   430   440   450   460   470   480   490   500
5    510   520   530   540   550   560   570   580   590   600
6    610   620   630   640   650   660   670   680   690   700
7    710   720   730   740   750   760   770   780   790   800
8    810   820   830   840   850   860   870   880   890   900
9    910   920   930   940   950   960   970   980   990  1000
10  1010  1020  1030  1040  1050  1060  1070  1080  1090  1100
11  1110  1120  1130  1140  1150  1160  1170  1180  1190  1200
12  1210  1220  1230  1240  1250  1260  1270  1280  1290  1300
13  1310  1320  1330  1340  1350  1360  1370  1380  1390  1400
14  1410  1420  1430  1440  1450  1460  1470  1480  1490  1500
15  1510  1520  1530  1540  1550  1560  1570  1580  1590  1600
16  1610  1620  1630  1640  1650  1660  1670  1680  1690  1700
17  1710  1720  1730  1740  1750  1760  1770  1780  1790  1800
18  1810  1820  1830  1840  1850  1860  1870  1880  1890  1900
19  1910  1920  1930  1940  1950  1960  1970  1980  1990  2000

> Pandas Dataframe can be created from a dictionary

> Generate values

In [343]:
continent = ['Africa', 'Europe', 'Asia']
gender = ['M', 'F']
married = ['Yes', 'No']
job_level= ["Junior", 'Senior', "Mid-Level"]
qualification = ['B.A', 'M.A', 'Phd', 'SSCE']
life_security = ['Low', 'Mid', 'High']
multiple_income=True, False


random_values = [np.random.choice(continent, replace=False, p=[0.3,0.33, 0.37]), # continent
                 np.random.randint(50), # age
                 random.choice(gender), # gender
                 random.choice(married), # married
                 np.random.randint(10000, 50000), #wages
                 random.choice(job_level), # job_level
                 random.choice(qualification), # qualification
                 np.random.randint(0,5), # no of dependents
                 random.choice(life_security), # life_security
                 random.choice(multiple_income), #multiple_income
             ]
data = []
for i in range(20):
    data.append(random.choices(random_values))

In [361]:
random.choice(random_values)

'Yes'

In [362]:
headers = ['continent', 'age', 'gender', 
           'married', 'wages',  'job_level',
          'qualification', 'dependents','life_security' ,
          'multiple_income']
df_two = pd.DataFrame(data, columns=headers)
df_two

ValueError: 10 columns passed, passed data had 1 columns

#### Question 2. Show a summary of your dataframe with column names, non null count and dtypes for the columns

> df_one summary

In [142]:
df_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       20 non-null     int64
 1   B       20 non-null     int64
 2   C       20 non-null     int64
 3   D       20 non-null     int64
 4   E       20 non-null     int64
 5   F       20 non-null     int64
 6   G       20 non-null     int64
 7   H       20 non-null     int64
 8   I       20 non-null     int64
 9   J       20 non-null     int64
dtypes: int64(10)
memory usage: 1.7 KB

> df_two summary

In [ ]:
df_two.

#### Question 3. Again show a summary of your dataframe, this time, showing the mean, count, standard deviation, minimum number etc for all the numerical columns

> df_one description

In [22]:
df_one.describe()

,A,B,C,D,E,F,G,H,I,J
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,960.000000,970.000000,980.000000,990.000000,1000.000000,1010.000000,1020.000000,1030.000000,1040.000000,1050.000000
std,591.607978,591.607978,591.607978,591.607978,591.607978,591.607978,591.607978,591.607978,591.607978,591.607978
min,10.000000,20.000000,30.000000,40.000000,50.000000,60.000000,70.000000,80.000000,90.000000,100.000000
25%,485.000000,495.000000,505.000000,515.000000,525.000000,535.000000,545.000000,555.000000,565.000000,575.000000
50%,960.000000,970.000000,980.000000,990.000000,1000.000000,1010.000000,1020.000000,1030.000000,1040.000000,1050.000000
75%,1435.000000,1445.000000,1455.000000,1465.000000,1475.000000,1485.000000,1495.000000,1505.000000,1515.000000,1525.000000
max,1910.000000,1920.000000,1930.000000,1940.000000,1950.000000,1960.000000,1970.000000,1980.000000,1990.000000,2000.000000

> df_two description

In [363]:
df_two.describe()

        age    wages  dependents
count  20.0     20.0        20.0
mean   34.0  13747.0         3.0
std     0.0      0.0         0.0
min    34.0  13747.0         3.0
25%    34.0  13747.0         3.0
50%    34.0  13747.0         3.0
75%    34.0  13747.0         3.0
max    34.0  13747.0         3.0

#### Question 4. Show the number of unique values in all the columns in your dataframe

> df_one unique values

In [24]:
df_one.nunique()

A    20
B    20
C    20
D    20
E    20
F    20
G    20
H    20
I    20
J    20
dtype: int64

> df_two unique values

In [364]:
df_two.nunique()

continent          1
age                1
gender             1
married            1
wages              1
job_level          1
qualification      1
dependents         1
life_security      1
multiple_income    1
dtype: int64